# user {{{

[user]
    name = Reilly Tucker Siemens
    email = reilly@tuckersiemens.com
    signingkey = 7CB154A9

# }}}
# init {{{

[init]
    defaultBranch = main

# }}}
# alias {{{

[alias]
    # pretty branch graphing http://stackoverflow.com/a/9074343
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset) %G?' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %G?' --all
    lg = !"git lg1"
    # alias suggestions from http://gitimmersion.com/
    type = cat-file -t
    dump = cat-file -p
    co = checkout
    cs = commit -S
    cm = commit
    st = status -sb
    stall = !"git st -uall"
    br = branch
    # alias suggestions from https://github.com/tiimgreen/github-cheat-sheet#git-configurations
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    # alias suggestions from Geoff Shannon (RadicalZephyr)
    last = log -n1
    diffb4 = diff HEAD~ HEAD
    ignore = !echo >> .gitignore
    pack = !git archive --format=tar --prefix=$(basename $(pwd))/ $(git describe --tags $(git rev-list --tags --max-count=1)) | gzip > $(basename $(pwd))-$(git describe --tags $(git rev-list --tags --max-count=1)).tar.gz
    # alias suggestion from @kyle-rader (https://git.io/vAsga)
    web = !"f() {\nif [ -z $1 ];\nthen remote='origin';\nelse remote=$1;\nfi\ngit-open-web $(git remote get-url $remote)\n}\nf"
    # other aliases
    nuke = reset --hard HEAD
    wc = whatchanged -p --oneline
    # ASCII art from http://ascii.co.uk/art/jellyfish
    jellyfish = !"printf \" .-;\\':\\':\\'-.\n{\\'.\\'.\\'.\\'.\\'.}\n )        \\'\\`.\n\\'-. ._ ,_.-=\\'\n  \\`). ( \\`);(\n  (\\'. .)(,\\'.)\n   ) ( ,\\').(\n  ( .\\').\\'(\\').\n  .) (\\' ).(\\'\n   \\'  ) (  ).\n    .\\'( .)\\'\n      .).\n\""

# }}}
# core {{{

[core]
    editor = vim
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.nunathat
    # Thanks to Tekin for the idea. https://j.mp/3gqv6NW
    attributesfile = ~/.gitattributes
    pager = delta

# }}}
# delta {{{

[delta]
    # Requires delta (https://github.com/dandavison/delta).
    # Style suggestions taken from https://git.io/JJUL1.
    line-numbers = true
    syntax-theme = "gruvbox-dark"
    zero-style = "auto"
    minus-style = "red"
    minus-emph-style = "red reverse"
    plus-style = "green"
    plus-emph-style = "green reverse"
    file-style = "bold yellow"
    file-decoration-style = "bold yellow box"

# }}}
# interactive {{{

[interactive]
    diffFilter = delta --color-only

# }}}
# commit {{{

[commit]
    gpgSign = true

# }}}
# push {{{

[push]
    default = simple

# }}}
# credential {{{
#
[credential]
    helper = cache --timeout=3600

# }}}
# remote "origin" {{{

[remote "origin"]
	prune = true

# }}}
# gpg {{{

[gpg]
	program = gpg2

# }}}

# vim:foldmethod=marker:foldlevel=0
